/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 15px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$font-family: 'Poppins', sans-serif;
$font-size: 15px;

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$neutral-grayish-blue: hsl(229, 6%, 66%);
$neutral-light-gray: hsl(0, 0%, 98%);

body {
  margin: 0;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: $neutral-light-gray;
}

* {
  box-sizing: border-box;
  font-size: $font-size;
}

main {
  width: 90%;
  margin: auto;
}

h1 {
  color: $very-dark-blue;
}

.reliable {
  margin: auto;
  max-width: 300px;
  text-align: center;
  h1 {
    span {
      font-weight: 200;
      font-size: 1.4em;
    }
    strong {
      font-size: 1.4em;
      color: $very-dark-blue;
    }
  }
  p {
    color: $neutral-grayish-blue;
  }
  margin-bottom: 3em;
}

.card {
  margin: auto;
  max-width: 300px;
  padding: 1em;
  border-radius: 0.4rem;
  background-color: #fff;
  margin-bottom: 2rem;
  box-shadow: 3px 12px 19px $neutral-grayish-blue;
  &:nth-of-type(1) {
    border-top: 3px solid $cyan;
  }
  &:nth-of-type(2) {
    border-top: 3px solid $red;
  }
  &:nth-of-type(3) {
    border-top: 3px solid $orange;
  }
  &:nth-of-type(4) {
    border-top: 3px solid $blue;
  }
  p {
    font-size: 0.9em;
    color: $neutral-grayish-blue;
  }

  .icon {
    display: flex;
    flex-direction: row-reverse;
  }
}

footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  * {
    font-size: $font-size * 1.2;
  }

  .reliable {
    max-width: 50%;
  }
  .card {
    margin: 0;
  }
  .grid {
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'supervisor team-builder calculator'
      '   .           karma         .';
    grid-gap: 1.8rem;
    justify-items: center;
  }

  .supervisor {
    grid-area: supervisor;
    transform: translateY(calc(50% + 2em));
  }

  .team-builder {
    grid-area: team-builder;
  }

  .karma {
    grid-area: karma;
  }

  .calculator {
    grid-area: calculator;
    transform: translateY(calc(50% + 2em));
  }
}
